// @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Vast+Shadow&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Vast Shadow', cursive;
    // overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.home {
    max-width: 1920px;
    margin: 0 auto;
}

p {
    font-family: 'Poppins', sans-serif;
}