@import "../styles/variables/mixins";
.home {
    background-color: #fdefdd;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    &::before {
        position: absolute;
        bottom: -470px;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.1;
        background: url("https://images.squarespace-cdn.com/content/v1/588b0c9115d5dbbd78c854a0/1489418574325-S4EW2T46COVYFOBRM0A7/WAVE-1s.gif?format=2500w");
    }
}

.app__container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.plus {
    font-size: 110px;
    position: absolute;
    left: 50px;
    top: 20px;
    color: #505050;
    opacity: 0.7;
    svg {
        animation: rotation 8s infinite linear;
        @-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
            }
        }
    }
}

.intro_data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .slog {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        padding-bottom: 40px;
        border-bottom: 2px solid #9e9890;
        margin-bottom: 100px;
        .swot {
            font-size: 14rem;
            font-weight: 500;
            margin: 0;
            color: #505050;
            @include mobile {
                font-size: 5rem;
            }
            @include iphone5 {
                font-size: 4rem;
            }
            @include tablet {
                font-size: 11rem;
            }
            @include iphone6 {
                font-size: 6rem;
            }
        }
        .anls {
            font-size: 6rem;
            display: flex;
            font-weight: 500;
            justify-content: flex-end;
            color: #505050;
            margin: 0;
            @include mobile {
                font-size: 3rem;
            }
            @include iphone5 {
                font-size: 2rem;
            }
            @include iphone6 {
                font-size: 3rem;
            }
        }
    }
}

.circle {
    animation: animName 5s linear infinite;
    width: 180px;
    height: 180px;
    background: #e3d6c6;
    margin: 20px;
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 50px;
    opacity: 0.4;
}

@keyframes animName {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCW {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}