.home {
    padding: 0 2rem;
    background-color: #fdefdd;
    height: 100vh;
    width: 100%;
}

.app__container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.intro {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.intro_data {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    align-items: center;
    .slog {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 1;
        position: relative;
        padding-bottom: 40px;
        border-bottom: 2px solid #9e9890;
        .spot {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            background-color: #00ffdc;
            position: absolute;
            top: 80px;
            left: -25px;
        }
        .swot {
            font-size: 20rem;
            font-weight: 500;
            color: #505050;
        }
        .anls {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .plus {
                font-size: 110px;
            }
            .analysis {
                font-size: 10rem;
                font-weight: 500;
                color: #505050;
            }
        }
    }
    .circle {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        box-shadow: 15px 15px 0 0 #d9c2aced;
        transform: rotate(227deg);
        font-size: 40px;
    }
}

.player {
    background-color: #e3d7c6;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    position: absolute;
    bottom: 70px;
    .player_data {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 5px;
        .volume,
        .time_span,
        .fullscreen {
            margin: 0 30px;
            cursor: pointer;
        }
        .song_controler {
            display: flex;
            align-items: center;
            div {
                margin: 0 15px;
            }
            .song_lists {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                 :nth-child(1) {
                    margin-left: -20px;
                }
                 :nth-child(2) {
                    svg {
                        margin-left: 10px;
                    }
                }
                .btns {
                    transition: all 0.5s;
                }
            }
            svg {
                font-size: 35px;
                cursor: pointer;
            }
        }
    }
}